<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo-List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Vous devez effectuez ses tâches</p>
  <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label>Acheter un pangolin</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label>Exterminer les visons</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label>Aller a la manif contre l'article 24</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label>Proposer un feat a Emmanuel Macron</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>







</ion-content>
